/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.nova
/.vscode
/.zed

# i add this ↓  **cSpell::disable**
desktop.ini
client_secret_634459582607-4omq69vhen95h57fetp17hgkjeel3349.apps.googleusercontent.com.json
notes_laravel_docs.txt
